body:has(.login-form) {
    align-content: center !important;
}

:where(#root:has(.login-form)) {
    margin-top: 0 !important;
}

:where(.login-form) {
    gap: 1em;
}

.login-form>fieldset {
    display: grid !important;
    grid-template-columns: 1fr 1fr !important;
}

:where(.login-form > fieldset) {
    gap: inherit;
}

:where(.login-form label) {
    text-align: right;
}